<div class="loader-page bg-black bg-opacity-50" [ngClass]="isLoad ? 'show' : 'close' "></div>

<div class="min-h-screen bg-gray-100 p-10 ">

  <div class="navbar bg-gray-500 rounded-md shadow-lg max-w-7xl mx-auto">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">RentCar</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a routerLink="/pages/home" >Home</a></li>
        <li><a routerLink="/pages/order-list">Your Order</a></li>
        <li><a routerLink="/pages/rent-history">Your Rent History</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>

  <div class="navbar max-w-7xl mx-auto mt-4">
    <h1> History Rental </h1>
  </div>


  <!-- Card List -->
  <div class="max-w-7xl mx-auto px-4 py-6 grid grid-cols-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">



    <!-- Card Example -->
     @for (item of carList; track $index) {

       <div class="card bg-base-100 w-96 shadow-xl">
         <figure>
           <img
             src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
             alt="Shoes" />
         </figure>
         <div class="card-body">
          <div class="wrapper flex justify-between ">
            <h2 class="card-title">
             {{ item.rental.car.brand }} - {{ item.rental.car.model }}
            </h2>


          </div>
           <span>
            {{ item.rental.car.license_plate }}
           </span>
           <span>
            {{ 'Rp. '+ item.rental.car.rental_price_per_day + ' / Hari' }}
           </span>
            <!-- <span>
            {{ 'Lama Pinjaman : ' + item.days_rented + ' Hari' }}
            </span>
           <span>
            {{ 'Total Harga Rp. '+ item.total_cost }}
           </span> -->

           <!-- <div class="card-actions mt-4">
            <button class="btn btn-outline btn-primary" (click)="onSelect(item.car)" onclick="my_modal_2.showModal(); ">Pengembalian Mobil</button>
           </div> -->

         </div>
       </div>

     }


     <dialog id="my_modal_2" class="modal">
      <div class="modal-box">
        <h3 class="text-lg font-bold">Pengembalian Mobil</h3>
        <div class="modal-action">
          <form method="dialog" class="w-full">

            <label class="input input-bordered flex items-center gap-2 mb-4">
              <input type="text" readonly [(ngModel)]="license_plate" name="license_plate" class="grow" placeholder="Plat No" />
            </label>


            <!-- if there is a button in form, it will close the modal -->
             <!-- <button class="btn btn-outline btn-primary mr-2" (click)="returnRental()" > Lakukan Pengmbalian </button> -->
            <button class="btn btn-outline btn-error" >Close</button>
          </form>
        </div>
      </div>
    </dialog>



  </div>
</div>
