
<div class="loader-page bg-black bg-opacity-50" [ngClass]="isLoad ? 'show' : 'close' "></div>

<div class="min-h-screen bg-gray-100 p-10 ">


  <div class="navbar bg-gray-500 rounded-md shadow-lg max-w-7xl mx-auto">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">RentCar</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a routerLink="/pages/home" >Home</a></li>
        <li><a routerLink="/pages/order-list">Your Order</a></li>
        <li><a routerLink="/pages/rent-history">Your Rent History</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>

  <!-- Search Bar -->
  <div class="max-w-7xl mx-auto mt-4 flex items-center gap-2">

    <select [(ngModel)]="selectType" (change)="selectType == 'avail' ? isAvail = true : isAvail = false " class="select select-bordered w-full max-w-xs">
      <option disabled selected>Select By</option>
      <option value="brand">Brand</option>
      <option value="model">Model</option>
      <option value="avail">Ketersediaan</option>
    </select>

    @if (!isAvail) {
      <label class="input input-bordered flex items-center">
        <input type="text" class="grow" placeholder="Search" [(ngModel)]="inputText"  />

      </label>
    }@else {
      <select [(ngModel)]="availibility"  class="select select-bordered w-full max-w-xs">
        <option disabled selected>Select</option>
        <option value="1">Tersedia</option>
        <option value="0">Tidak Tersedia</option>
      </select>
    }



    <button class="btn" (click)="search()">
      <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="h-4 w-4 opacity-70">
      <path
        fill-rule="evenodd"
        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
        clip-rule="evenodd" />
    </svg>
    </button>

    <button class="btn" (click)="getCars()">
      Reset Filter
    </button>

    <button class="btn ml-auto" onclick="add_car.showModal(); " >
      Add New Car
    </button>
  </div>

  <!-- Card List -->
  <div class="max-w-7xl mx-auto px-4 py-6 grid grid-cols-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
    <!-- Card Example -->
     @for (item of carList; track $index) {

       <div class="card bg-base-100 w-96 shadow-xl">
         <figure>
           <img
             src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
             alt="Shoes" />
         </figure>
         <div class="card-body">
          <div class="wrapper flex justify-between ">
            <h2 class="card-title">
             {{ item.brand }} - {{ item.model }}
            </h2>


              @if (item.is_available == 1) {
                <span class="badge badge-primary">
                  Tersedia
                </span>
              }
              @else{
                <span class="badge badge-error">
                  Tidak Tersedia
                </span>
               }

          </div>
           <span>
            {{ item.license_plate }}
           </span>
           <span>
            {{ 'Rp. '+ item.rental_price_per_day + ' / Hari' }}
           </span>

           <div class="card-actions justify-end">
            <button class="btn btn-outline btn-primary" [disabled]="item.is_available == 0" (click)="order(item)" onclick="my_modal_1.showModal(); " >Book</button>
           </div>
         </div>
       </div>

     }

    <!-- Add more cards as needed -->
    <dialog id="my_modal_1" class="modal">
      <div class="modal-box">
        <h3 class="text-lg font-bold">Order</h3>
        <div class="modal-action">
          <form method="dialog" class="w-full">

            <label class="input input-bordered flex items-center gap-2 mb-4">
              Start Date
              <input type="date" [(ngModel)]="startDate" name="startDate" (change)="calculate(startDate ,endDate)" class="grow" placeholder="Start Date" />
            </label>


            <label class="input input-bordered flex items-center gap-2 mb-4">
              End Date
              <input type="date" [(ngModel)]="endDate" name="endDate" (change)="calculate(startDate ,endDate)" class="grow" placeholder="End Date" />
            </label>

            <div class="flex justify-end">
              <div class=" justify-end flex flex-row justify-between flex-wrap w-full mb-4">
                @if (totalPrice && totalDays ) {
                  <h3 class="w-full"> {{ selectedOrder.brand + ' - ' + selectedOrder.model }} </h3>
                  <br>
                  <span class="text-md">
                    Jumlah Hari : {{ totalDays }}
                  </span>
                  <span class="text-md">
                    Total Harga Sewa : {{ totalPrice }}
                  </span>
                }
              </div>
            </div>
            <!-- <br> -->



            <!-- if there is a button in form, it will close the modal -->
             <button class="btn btn-outline btn-primary mr-2" (click)="doOrder(selectedOrder)" > Pesan </button>
            <button class="btn btn-outline btn-error" (click)="closeModal()">Close</button>
          </form>
        </div>
      </div>
    </dialog>



    <dialog id="add_car" class="modal">
      <div class="modal-box">
        <h3 class="text-lg font-bold">Add car</h3>
        <div class="modal-action">
          <form method="dialog" class="w-full">

            <label class="input input-bordered flex items-center gap-2 mb-4">
              Merek / Brand
              <input type="text" [(ngModel)]="newCar.brand" name="brand" class="grow"  />
            </label>

            <label class="input input-bordered flex items-center gap-2 mb-4">
              Model
              <input type="text" [(ngModel)]="newCar.model" name="model" class="grow" />
            </label>

            <label class="input input-bordered flex items-center gap-2 mb-4">
              Plat No
              <input type="text" [(ngModel)]="newCar.license_plate" name="license_plate" class="grow" />
            </label>

            <label class="input input-bordered flex items-center gap-2 mb-4">
              Tarif ( Per Hari )
              <input type="text" [(ngModel)]="newCar.price_per_day" name="price_per_day" class="grow" />
            </label>

            <div class="flex mb-4 gap-2 justify-between">
              <span >
                Ketersediaan
              </span>
              <input type="checkbox" [(ngModel)]="newCar.is_available" name="is_available" (click)="getValueCheck($event)" class="toggle" checked="checked" />

            </div>





            <!-- if there is a button in form, it will close the modal -->
             <button class="btn btn-outline btn-primary mr-2" (click)="onAddNewCar(newCar)" > Add </button>
            <button class="btn btn-outline btn-error" (click)="closeModal()">Close</button>
          </form>
        </div>
      </div>
    </dialog>

  </div>
</div>
